.TopNavigationContent {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 24px 24px;
}

.TopNavigationContent a {
    position: relative;
    color: #2a2a2a;
    text-decoration: none;
}

.TopNavigationContent a::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #8fc5a2;
    height: 4px;
    left: 0;
    bottom: -2px;
    transition: 100ms;
    width: 100%;
    clip-path: inset(0 100% 0 0);
}

.TopNavigationContent a:hover::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #8fc5a2;
    height: 4px;
    left: 0;
    bottom: -2px;
    transition: 100ms;
    width: 100%;
    clip-path: inset(0 0 0 0);
}

.TopNavigationContent a:visited {
    color: #2a2a2a;
}
