.Home {
    background-color: #8fc5a2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.Home:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: 98;
    animation: page-transition-animation 400ms;
    animation-fill-mode: forwards;
}

@keyframes page-transition-animation {

    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
        display: none;
        z-index: 0;
    }

}