.Works {
    background-color: #f1f2f6;
    box-sizing: border-box;
    width: 100%;
}

.WorksTitle {
    margin: 80px 0 24px 0;
}

.WorksContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    margin: auto;
}

.WorkCardContainer {
    display: grid;
    margin: 32px 0 64px 0;
    grid-template-columns: repeat(auto-fit, 340px);
    justify-content: center;
    grid-gap: 1rem;
}