.WorkCard {
    display: flex;
    color: #2a2a2a;
    text-decoration: none;
    flex-direction: column;
    background-color: white;
    width: 320px;
    min-height: 246px;
    padding: 8px;
    border-radius: 48px 0;
    filter: drop-shadow(0 0 16px #00000026);
    transition-duration: .1s;
    user-select: none;
}

.WorkCard:hover {
    z-index: 1000;
    transform: scale(1.05);
}

.WorkCardThumbnail {
    height: 180px;
    border-top-left-radius: 41px;
    object-fit: cover;
}

.WorkCardInfoContainer {
    margin: 8px;
}

.WorkCardInfoTitle {
    margin: 8px 0 8px 0;
}

.WorkCardInfoLineTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.75rem;
    font-weight: bold;
    font-size: 14px;
    color: #8a8a8a;
    margin-top: 12px;
    margin-bottom: 24px;
}

.WorkCardInfoLineTwo p {
    margin: 0;
}

.WorkCardInfoCategory {
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 9999px;
    border: 2px solid #8fc5a2;
    color: black;
    cursor: pointer;
    white-space: nowrap;
}

.WorkCardInfoDescription {
    margin: 0;
}

.WorkCardInfoCategoryWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}