.Works {
    background-color: #f1f2f6;
    box-sizing: border-box;
    width: 100%;
}

.WorksTitle {
    margin: 80px 0 24px 0;
}

.WorksContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    margin: auto;
}

.WorkCardContainer {
    display: grid;
    margin: 32px 0 64px 0;
    grid-template-columns: repeat(auto-fit, 340px);
    justify-content: center;
    grid-gap: 1rem;
}

.Category {
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 9999px;
    border: 2px solid #8fc5a2;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.CategorySelect {
    background-color: #8fc5a2;
    color: white;
}

.Category p {
    margin: 0;
}

.CategoryList {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    user-select: none;
}