@font-face {
    font-family: "LINE Seed JP";
    src: url(./assets/fonts/LINESeedJP_OTF_Rg.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "LINE Seed JP";
    src: url(./assets/fonts/LINESeedJP_OTF_Th.woff2) format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "LINE Seed JP";
    src: url(./assets/fonts/LINESeedJP_OTF_Bd.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "LINE Seed JP";
    src: url(./assets/fonts/LINESeedJP_OTF_Eb.woff2) format('woff2');
    font-weight: 800;
}

body {
    margin: 0;
    display: inline-block;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    background-color: #8fc5a2;
    font-family: "LINE Seed JP", serif;
}

h1 {
    margin: 12px 0;
}